@using Sandbox.UI;

@namespace BrickJam.UI
@inherits RootPanel
@attribute [StyleSheet]

<root>
	@{
		var activePlayer = Game.LocalPawn is Player player
			? player
			: Game.LocalPawn is Spectator spectator
				? spectator.Following
				: null;

		var isSpectator = Game.LocalPawn is Spectator;
		var isPlayer = Game.LocalPawn is Player;
	}

	<Timer Active="@(MansionGame.Instance.TimerActive)" @Seconds=@( () => (float)MansionGame.Instance.TimeOut )/>

	@if ( isPlayer && activePlayer.IsValid )
	{
		<Inventory/>
		<Eventlog/>
	    <Shop/>
	}

	@{
		var targetPlayer = Game.LocalPawn is Spectator spec
			? spec.Following ?? spec.Body
			: activePlayer;

		<MoneyCounter TargetMoney="@(targetPlayer?.Money ?? 0)" Player=@(targetPlayer) />
		<PlayerCounter Active="@(MansionGame.Instance.TimerActive)" />
	}

	@if ( activePlayer != null )
	{
		<!-- The client either has a living pawn or is observing another player's pawn -->
		<StunIndicator Player=@(activePlayer) />
		<Interactions Player=@activePlayer />

		<Crosshair>
			<Top>
				<!--Some text on the top-->
			</Top>
			<Middle>
				X
			</Middle>
			<Bottom>
				<!--Some text on the bottom-->
				@if (isPlayer)
				{
					<InteractionTip @Player=@activePlayer />
				}
			</Bottom>
		</Crosshair>
	}

	<div class="input-hints">
		@if ( isSpectator )
		{
			<div class="hint"><inputglyph action="StopFollowing"/>Stop following</div>
			<div class="hint"><inputglyph action="FollowNext"/>Next player</div>
			<div class="hint"><inputglyph action="FollowPrevious"/>Previous player</div>
		}
		else
		{
			<div class="hint"><inputglyph action="inventory"/>Inventory</div>
			<div class="hint"><inputglyph action="chat"/>Chat</div>
		}
	</div>

	<textinput ghost="..." class="chat-input" @ref=ChatInput onsubmit=@(( PanelEvent panelEvent ) => {
		if ( panelEvent.Target is not TextInput input )
			return;

		if ( string.IsNullOrEmpty( input.Text ) || input.Text.Length > 200 )
			Eventlog.Send( "<red>Input length must be greater than 1 and smaller than 200." );
		else
			BrickJam.Player.SendMessage( input.Text );

		input.Text = "";
		input.SetClass( "visible", false );
	}) />

	<SubtitlesList @Pawn=@activePlayer />

	<div class="death @(isSpectator ? "visible" : "")">
		<div class="container">
			<span class="title">YOU'RE DEAD!</span>
			@if ( activePlayer != null && activePlayer.Client != Game.LocalClient )
			{
				<span>Observing @(activePlayer.Client.Name).</span>
			}
		</div>
	</div>
</root>

@code {
	public TextInput ChatInput { get; private set; }
	public static Hud Instance => (Hud)_instance?.Target;
	private static WeakReference _instance;

	public Hud()
	{
		Instance?.Delete( true );
		_instance = new WeakReference( this );
	}

	public override void Tick()
	{
		if ( ChatInput == null )
			return;

		if ( Input.Pressed( "chat" ) )
		{
			ChatInput.Focus();
			ChatInput.SetClass( "visible", true );
		}
	}

	protected override int BuildHash()
	{
		return HashCode.Combine( 
			Game.LocalPawn, 
			(Game.LocalPawn as Spectator)?.Following?.NetworkIdent ?? 0,
			MansionGame.Instance.TimerActive );
	}
}
